@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
}

#Texto {
    background-color: #181d2c;
    justify-content: center;
    align-items: center;
    display: flex;
	border-radius: 5px;
	color: #fff;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10px;
	padding: 20px;
    margin-top: 75px;
    margin-left: 45px;
    width: 300px; /* largura */
    height: 400px; /* altura */
	position: absolute;
	text-align:justify;
    font: size 100;;
}
#Texto2 {
    background-color: #181d2c;
    justify-content: center;
    align-items: center;
    display: flex;
	border-radius: 5px;
	color: #fff;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px 0;
	position: absolute;
	text-align:justify;
    margin-top: 520px;
    margin-left: 32px;

     width: 320px; /* largura */
    height: 175px; /* altura */
}

.CA::before,
.CA::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* serve para deixar a caixa de cima sobre o rgb */
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background: linear-gradient(45deg, #ffe600, #d6d6d6, #09f, #001aff, #a200ff, #f05, #f00,
            #ffff00, #00ff00, #09f, #001aff, #a200ff);
    /*rbg*/
    background-size: 3050%;
    border-radius: 5px;
    animation: AnimarBorda 10s linear infinite;

}

#video{
    
}


.CB::before,
.CB::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* serve para deixar a caixa de cima sobre o rgb */
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background: linear-gradient(45deg, #ffe600, #d6d6d6, #09f, #001aff, #a200ff, #f05, #f00,
            #ffff00, #00ff00, #09f, #001aff, #a200ff);
    /*rbg*/
    background-size: 3050%;
    border-radius: 5px;
    animation: AnimarBorda 10s linear infinite;

}

@keyframes AnimarBorda {
    0% {
        background-position: 10;
    }

    100% {
        background-position: 100%;
    }
}

.CA::after {
    filter: blur(30px);
}

.CB::after {
    filter: blur(30px);
}

#diferença {
    margin-top: 50px;

}


body {
    background-color: #181d2c;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
}
